.container{
    display: flex;
    min-width: 550px;
    min-height: 450px;
    flex-direction: column;
    gap: 30px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.12);
    padding-top: 5px;
}

.header{
    display: flex;
    overflow-x: auto;
    gap: 10px;
    border-bottom:1px solid rgba(0,0,0,0.1) 
}

.header .section{
    padding: 10px;
    border: 2px solid transparent;
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
}

.header .active{
    border-bottom: 2px solid #6f23c5;
    color: #6f23c5;
}

.body{
    padding:30px;
    display: flex;
    flex-direction: column;
    gap:20px;
}