.detail{
    display: flex;
    flex-direction: column;
    gap:15px
}

.detail .row{
    display: flex;
}

.detail .column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

detail .row > div{
    flex:1;
}